body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
   
    background-size: 1020px;
    transition: background-image 0.5s ease; /* Плавный переход для background-image */
}
h3 {
    font-family: 'Noto Serif Display', serif;
    font-size: 2em;
    color: white; /* Изменен цвет текста на белый */
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 2px solid #7FB5B5;
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавлена тень текста */
}
header {
    position: relative;
    background-image: url('/images/background-header3.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 2em;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-image 0.5s ease; /* Плавный переход для background-image */
    box-shadow: 0 0 20px rgba(0, 0, 0, 5); /* Добавление тени в нижней части */
}

.logo {
    width: 20%;
    position: absolute;
    top: 50px; /* Выберите необходимое значение отступа сверху */
    left: 50%; /* Позиционируем по центру горизонтально */
    transform: translateX(-50%); /* Коррекция положения по центру */
}



    nav ul {
        list-style: none;
        padding: 0;
        font-size: 2em;
        font-family: 'Noto Serif Display', serif;
        text-shadow: 2px 2px 4px black;
        letter-spacing: 8px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        height: 200px;
        line-height: 1.5; 
        width: 1500px;;
    }


    nav ul li {
        display: inline;
        
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    text-align: left;
    display: none;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    width: 450px; /* Увеличьте ширину меню по вашему выбору */
    top: 100%; /* Смещаем меню под нижнюю границу родительского элемента */
    left: 0; /* Выравниваем по левому краю родительского элемента */
}

.dropdown:hover .dropdown-menu {
    display: block;
    transform: scaleY(1);
}



.dropdown-menu li {
    display: block;
    padding: 8px;
    white-space: nowrap;
    font-size: 0.5em; /* Уменьшаем размер шрифта */
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: rgba(127, 181, 181, 0.7);
    color: white;
}



section {
    padding: 20px;
}

#menu {
   
    text-align: center;
    padding: 20px;
}

.menu-item {
    display: inline-block;
    margin: 20px;
    width: calc(33.33% - 40px);
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.menu-item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px; /* Высота подножки */
    background-color: #7FB5B5; /* Цвет подножки */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu-item h3 {
    white-space: nowrap;
    font-size: 20px;
}
.menu-item:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.menu-container {
    background: url('/images/backabout4.jpg') center/cover;
    padding: 20px;
    min-height: 1080px; /* Минимальная высота, которая будет увеличиваться по мере добавления блюд */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}
figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
    box-sizing: border-box;
    transform: scaleY(0); /* Начальное положение вне экрана */
    transform-origin: bottom; /* Задаем точку, относительно которой происходит масштабирование */
    transition: transform 0.3s ease;
}

.menu-item:hover figcaption {
    transform: scaleY(1); /* Положение при наведении, масштаб 1 означает полную высоту */
}


figcaption h3 {
    margin: 0;
    font-size: 1.5em;
}

figcaption p {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #7FB5B5;
    color: white;
    border: none;
    padding: 6px 10px; /* Уменьшаем размер кнопки */
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Уменьшаем размер шрифта */
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 180px; /* Подвигаем кнопку правее */
}

.add-to-cart-btn:hover {
    background-color: #5C8D8D;
}


/* Стили для кнопки корзины */
.cart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Цвет фона с прозрачностью */
    color: white;
    border: 2px solid white; /* Белая окантовка */
    padding: 12px 20px; /* Увеличение внутренних отступов */
    border-radius: 8px; /* Скругление углов */
    cursor: pointer;
    font-size: 1.1em; /* Увеличение размера шрифта */
    transition: all 0.3s ease; /* Плавное изменение всех свойств */
}

.cart-btn:hover {
    transform: scale(1.1); /* Увеличение размера при наведении */
    background-color: rgba(0, 0, 0, 0.9); /* Изменение цвета фона при наведении */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    margin-bottom: 10px;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cart-item {
    animation: fadeIn 0.5s ease; /* Применяем анимацию */
  }

#clearCartBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#clearCartBtn:hover {
    background-color: #d32f2f;
}

/* Добавляем стили для анимации улета */
@keyframes flyAway {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%) rotate(720deg);
      opacity: 0;
    }
  }
  
  /* Стили для изображения в анимации */
  .flying-image {
    position: fixed;
    z-index: 1000;
    animation: flyAway 0.5s ease;
  }
  
footer {
   
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
.contact-section {
    background-image: url('/images/contacts.jpg'); /* Добавляем задний фон */
    background-size: cover; /* Уменьшаем размер изображения на 90% */
    background-position: left center; /* Сдвигаем изображение влево и центрируем вертикально */
    padding: 80px 0; /* Уменьшаем отступы сверху и снизу для более компактного вида */
    color: #fff; /* Устанавливаем цвет текста на контрастный для лучшей читаемости */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8); /* Добавляем тень сверху */
}


.contact-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Тень */
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Выравнивание по центру */
}

/* Стили для заголовка контактов */
.contact-heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
}
/* Стили для контейнера контактной информации */
.contact-info {
    font-size: 18px; /* Размер шрифта */
    line-height: 1.6; /* Межстрочный интервал */
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
  
    padding: 20px; /* Внутренние отступы */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Тень */
}

/* Стили для заголовка контактной информации */
.contact-heading {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Добавляем стили для ссылок, если есть */
.contact-item a {
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    transition: color 0.3s; /* Плавное изменение цвета при наведении */
}

.contact-item a:hover {
    color: #0056b3; /* Цвет ссылок при наведении */
}




.reservation-section {
    background-color: #f8f9fa; /* Цвет фона раздела */
    padding: 80px 0; /* Отступы сверху и снизу */
    text-align: center;
}

.reservation-container {
    background-color: rgba(255, 255, 255, 0.7); /* Полупрозрачный белый цвет фона */
    padding: 40px; /* Отступы внутри контейнера */
    border: 2px solid #343a40; /* Толщина и цвет границы */
    border-radius: 15px; /* Радиус скругления углов */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Тень контейнера */
}

.reservation-heading {
    font-size: 3em; /* Размер шрифта заголовка */
    color: #343a40; /* Цвет текста заголовка */
    margin-bottom: 30px; /* Отступ снизу */
}

.reservation-form {
    max-width: 600px; /* Максимальная ширина формы */
    margin: 0 auto; /* Выравнивание по центру */
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="date"],
.reservation-form input[type="time"],
.reservation-form input[type="number"],
.reservation-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.reservation-form button {
    background-color: #343a40;
    color: white;
    border: none;
    cursor: pointer;
}

.reservation-form button:hover {
    background-color: #212529;
}
